@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
  font-family: "Josefin Sans", sans-serif;
  background-color: #FFFaFB;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:'#3A1212';
}

.hero-banner-img{
  position: absolute;
  right: 40px;
  top:0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

a,href,button,input,p{
  font-family: inherit !important;
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width:1200px) {
  .hero-banner-img {
    display: none;
  }
}

@media screen and (max-width:400px) {

}